<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>gestion_stock_jpa</display-name>

    <welcome-file-list>
        <welcome-file>login.do</welcome-file>
    </welcome-file-list>

    <servlet>
        <description>Contrôleur pour les actions de l'utilisateur classique</description>
        <display-name>UserServlett</display-name>
        <servlet-name>UserServlett</servlet-name>
        <servlet-class>ma.formations.jdbc.presentation.controller.UserServlett</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlett</servlet-name>
        <url-pattern>/UserServlett</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Contrôleur pour la gestion administrative</description>
        <display-name>AdminServlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>ma.formations.jdbc.presentation.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>

</web-app>